@model IEnumerable<WasteManagmentFacility.Models.Facility>

@{
    ViewData["Title"] = "Facility List";
}

<h1>Facility List</h1>
<p>
    <a asp-action="CreateFacility">Create New Facility</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentOccupancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentOccupancy)
                </td>
                <td>
                    @foreach (var vehicle in item.Vehicles)
                    {
                        <p>@vehicle.Model</p> <!-- Display whatever property of Vehicle you want -->
                    }
                </td>
                <td>
                    <a asp-action="EditFacility" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteFacility" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
